.mediaCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mediaCard h2 {
    margin: auto;
    text-align: left;
}

.mediaCard p {
    margin: auto;
}

.mediaCard img {
    width: 400px;
}